.about-background {
  background-image: url(../../assets/images/starfall-gif-46.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 55px);
  margin-top: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-page {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 90%;
  /* text-align: center; */
}
.big-c {
height: 150px;
filter: drop-shadow(2px 2px 0 black) 
drop-shadow(-1px -1px 0 #374261);
margin-top: 16vh;
}

.about-text {
  color: aliceblue;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 2.5vh;
}