.background-image {
  background-image: url(../../assets/images/1295030.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 55px);
  margin-top: 55px;
}

.constellations-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
}

.link-box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5) ;
  max-width: 50%;
  min-width: 50%;
  justify-content: center;
  margin-right: 0;
}

.link {
  text-decoration: none;
  color: aliceblue;
  opacity: 100%;
}

h1 {
  color: aliceblue;
}